services:

  server:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - "./config/.env"

  postgres:
    image: postgres:13.22-alpine3.22
    env_file:
      - "./config/.env"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
    volumes:
      - ./volumes/postgresql/data:/var/lib/postgresql/data